<html>
<head>
    <meta charset="utf-8">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="margin: 0; border: 0; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation--{{ username }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">博客</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">简书</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Github</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">社区</a>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <a class="btn btn-danger" href="" >个人中心</a>
                    <a class="btn btn-success" href="" >登录</a>
                </div>
            </div>
        </div>
    </nav>


</body>
</html>